@media(max-width: 990px) {
    .card {
        margin: 20px;
    }
}

/*========================mediaQuery==========================*/

@media (max-width: 2018px) {
    .c1 {
        /* -ms-flex: 100%; */
        /* flex: 0 0 33.333333%; */
        min-width: 33%;
    }
    .c2 {
        /* -ms-flex: 100%; */
        /* flex: 0 0 33.333333%; */
        min-width: 33%;
    }
    .c3 {
        /* -ms-flex: 100%; */
        /* flex: 0 0 33.333333%; */
        min-width: 33%;
    }
    .card-1 {
        /* -ms-flex: 100%; */
        /* flex: 0 0 33.333333%; */
        height: 97%;
    }
    .card-2 {
        /* -ms-flex: 100%; */
        /* flex: 0 0 33.333333%; */
        height: 97%;
    }
    .card-3 {
        /* -ms-flex: 100%; */
        /* flex: 0 0 33.333333%; */
        height: 100%;
    }
}

@media (max-width: 1118px) {
    .c1 {
        /* -ms-flex: 100%; */
        /* flex: 0 0 33.333333%; */
        min-width: 50%;
    }
    .c2 {
        /* -ms-flex: 100%; */
        /* flex: 0 0 33.333333%; */
        min-width: 50%;
    }
    .c3 {
        /* -ms-flex: 100%; */
        /* flex: 0 0 33.333333%; */
        min-width: 100%;
        min-height: 110px;
    }
}

@media (max-width: 992px) {
    .c1 {
        /* -ms-flex: 100%; */
        /* flex: 0 0 33.333333%; */
        min-width: 100%;
    }
    .c2 {
        /* -ms-flex: 100%; */
        /* flex: 0 0 33.333333%; */
        min-width: 100%;
    }
    .c3 {
        /* -ms-flex: 100%; */
        /* flex: 0 0 33.333333%; */
        min-width: 100%;
        min-height: 110px;
    }
}

@media (max-width: 375px) {
    .c1 {
        /* -ms-flex: 100%; */
        /* flex: 0 0 33.333333%; */
        min-width: 100%;
    }
    .c2 {
        /* -ms-flex: 100%; */
        /* flex: 0 0 33.333333%; */
        min-width: 100%;
    }
    .c3 {
        /* -ms-flex: 100%; */
        /* flex: 0 0 33.333333%; */
        min-width: 100%;
        height: 250px;
    }
    .card-1 {
        /* -ms-flex: 100%; */
        /* flex: 0 0 33.333333%; */
        height: 25%;
    }
    .card-2 {
        /* -ms-flex: 100%; */
        /* flex: 0 0 33.333333%; */
        height: 18%;
    }
    .card-3 {
        /* -ms-flex: 100%; */
        /* flex: 0 0 33.333333%; */
        height: 450%;
    }
    #info {
        height: 550%;
        background-color: black;
    }
}
