<form action="">
	<div class="row">
		<div class="col-md-6">
			<div class='form-group'>
				<input type="text" name="nombres" class="form-control" placeholder="Nombres y apellidos">
			</div>
		</div>
		<div class="col-md-6">
			<div class='form-group'>
				<input type="email" name="email" class="form-control" placeholder="Correo">
			</div>
		</div>
		<div class="col-md-6">
			<div class='form-group'>
				<input type="text" name="celular" class="form-control" placeholder="Whatsapp">
			</div>
		</div>
		<div class="col-md-6">
			<div class='form-group'>
				<input type="email" name="email" class="form-control" placeholder="Ciudad">
			</div>
		</div>
		<div class="col-md-12">
			<div class='form-group'>
				<textarea name="" id="" class="form-control" rows="4"></textarea>
			</div>
		</div>
		<div class="col-md-12">
			<p><input type="checkbox"> Acepto las <a href="">politicas de privacidad</a></p>
			<button type="submit" class="btn btn-primary">Enviar</button>
		</div>
	</div>
</form>